<h1>감정 설정</h1>

<div class="wordcloud-options">
    <div class="columns">
        <div class="column" id="positive">
            <h3>긍정</h3>
        </div>
        <div class="column" id="negative">
            <h3>부정</h3>
        </div>
        <div class="column" id="neutral">
            <h3>중립</h3>
        </div>
    </div>
    
    <button id="saveBtn" class="regenerate-btn">저장</button>
    <div id="message" style="text-align: center; margin-top: 15px; font-weight: bold; color: #28a745;"></div>
</div>
